---
import { Image } from "astro:assets";
import { getCollection, type CollectionEntry } from "astro:content";
import { Cloudinary } from "astro-cloudinary-image";
import opinion from "@assets/thums-up.webp";
import BaseLayout from "@layouts/BaseLayout.astro";
import Card from "@components/ArticleCard.astro";
import type { BlogType } from "src/content/config";

const allBlogs: BlogType[] = (await getCollection("blog")).sort(
  (a: BlogType, b: BlogType) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const pageTitle = "Blogs | Ezaz Ahmed";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="gif">
    <Image
      width="300"
      height="259"
      alt="Gif collceted from https://giphy.com/iroiro1/"
      src={opinion}
    />

    <Cloudinary
      width="300"
      height="259"
      resize="fill"
      gravity="auto"
      alt="A sample image"
      src="cld-sample"
      errorImage="NotFound.svg"
    />
  </div>

  <h2>Latest Blogs</h2>
  <ul role="list" class="link-card-grid">
    {
      allBlogs.map((blog) => (
        <Card
          href={`/blog/${blog.slug}`}
          image={blog.data.image}
          title={blog.data.title}
          tags={blog.data.tags}
        />
      ))
    }
  </ul>

  <h2>Other Blogs</h2>
  <ul role="list" class="link-card-grid">
    <Card
      href="https://dev.to/ezaz-ahmed/frontend-development-approaches-to-web-page-rendering-47gg"
      image="/blog/web-page-rendering.webp"
      title="Approaches to Web Page Rendering"
      tags={["Frontend", "React"]}
    />
  </ul>
</BaseLayout>
