---
import { Image } from "astro:assets";
import BlogCard from "@components/BlogCard.astro";
import Layout from "@layouts/BaseLayout.astro";
import Intro from "@assets/intro.gif";
import type { BlogType } from "src/content/config";
import ArticleCard from "@components/ArticleCard.astro";
import { getCollection } from "astro:content";
import { HOMEPAGE_ARTICLE_LIMIT } from "src/constants";
const pageTitle = "Ezaz Ahmed | Software Developer";

const allBlogs: BlogType[] = (await getCollection("blog")).sort(
  (a: BlogType, b: BlogType) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

type SkillType = {
  name: string;
  width: number;
  height: number;
  src: string;
};

const skills: SkillType[] = [
  {
    name: "JavaScript",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-plain.svg",
  },
  {
    name: "TypeScript",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-plain.svg",
  },
  {
    name: "React",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg",
  },
  {
    name: "Svelte",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/svelte/svelte-original.svg",
  },
  {
    name: "Nextjs",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nextjs/nextjs-original.svg",
  },
  {
    name: "Nestjs",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nestjs/nestjs-original.svg",
  },
  {
    name: "Golang",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/go/go-original-wordmark.svg",
  },
  {
    name: "MongoDB",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mongodb/mongodb-original.svg",
  },
  {
    name: "PostgreSQL",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-plain.svg",
  },
  {
    name: "MySQL",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg",
  },
  {
    name: "Docker",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-plain.svg",
  },
  {
    name: "Git",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-plain.svg",
  },
];
---

<Layout pageTitle={pageTitle}>
  <div class="gif">
    <Image
      width={300}
      height={300}
      alt="Gif collected from https://giphy.com/iroiro1/"
      src={Intro}
    />
  </div>
  <h1>Ezaz Ahmed</h1>
  <small>Software Engineer</small>
  <strong>
    While sipping coffee, I love working on software that contributes to making
    the world a better place. JavaScript is my superpower, empowering me to
    bring innovative solutions to life.
  </strong>

  <h2>About</h2>
  <p>
    I excel in developing top-notch web applications using TypeScript and
    JavaScript, infused with creativity. With a dedication to quality, I enjoy
    bringing imaginative ideas to life with innovative designs. My passion lies
    in creating websites that not only look great but also perform exceptionally
    well. I'm enthusiastic about contributing to open-source projects and
    constantly seek new knowledge to fuel my creativity.
  </p>

  <h2>Interests</h2>

  <p>
    Besides coding, I enjoy mentoring, exploring startup concepts, and delving
    into serverless and functional programming. I'm deeply curious about
    cybersecurity and ethical hacking. Let's talk about developer experience,
    anime, or startup ideas – I'm always open to stimulating conversations! Oh,
    and I make a mean cup of coffee too!
  </p>

  <h2>Skills</h2>
  <div class="link-images">
    {
      skills.map((skill) => (
        <Image
          width={skill.width}
          height={skill.height}
          alt={skill.name}
          src={skill.src}
        />
      ))
    }
  </div>

  <h2>Latest Blogs</h2>
  <ul role="list" class="link-card-grid">
    {allBlogs.slice(0, HOMEPAGE_ARTICLE_LIMIT).map((blog) => <BlogCard />)}
  </ul>
</Layout>
<style>
  /* small */
  small {
    background-color: #584966;
    color: #fdebf3;
    border-radius: 6px;
    font-weight: 600;
    padding: 0.3em 0.6em 0.2em;
  }

  .link-images {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(6, 1fr);
  }

  /* Skill images */
  .link-images img {
    width: 50px;
    height: 50px;
    margin: 16px 4px;
    box-sizing: border-box;
  }

  @media only screen and (max-width: 600px) {
    .link-images img {
      height: 30px;
      width: 30px;
    }
  }
</style>
