---
import { Image } from "astro:assets";
import Layout from "@layouts/BaseLayout.astro";
import Intro from "@assets/intro.webp";
import type { BlogType } from "src/content/config";
import ArticleCard from "@components/ArticleCard.astro";
import { getCollection } from "astro:content";
import { HOMEPAGE_ARTICLE_LIMIT } from "src/constants";
const pageTitle = "Ezaz Ahmed | Software Developer";

const allBlogs: BlogType[] = (await getCollection("blog")).sort(
  (a: BlogType, b: BlogType) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

type SkillType = {
  name: string;
  width: number;
  height: number;
  src: string;
};

const skills: SkillType[] = [
  {
    name: "JavaScript",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg",
  },
  {
    name: "TypeScript",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg",
  },
  {
    name: "React",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg",
  },
  {
    name: "Svelte",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/svelte/svelte-original.svg",
  },
  {
    name: "MongoDB",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg",
  },
  {
    name: "Nextjs",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original.svg",
  },
  {
    name: "Nestjs",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nestjs/nestjs-plain.svg",
  },
  {
    name: "Golang",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/go/go-original-wordmark.svg",
  },
  {
    name: "PostgreSQL",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-plain.svg",
  },
  {
    name: "MySQL",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg",
  },
  {
    name: "Docker",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-plain.svg",
  },
  {
    name: "Git",
    width: 46,
    height: 46,
    src: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-plain.svg",
  },
];
---

<Layout pageTitle={pageTitle}>
  <div class="gif">
    <Image
      width={300}
      height={300}
      alt="Gif collected from https://giphy.com/iroiro1/"
      src={Intro}
    />
  </div>
  <h1>Ezaz Ahmed</h1>
  <small>Code Artisan (Developer)</small>
  <strong>
    I craft software for enjoyment and to make a positive impact on the world.
  </strong>

  <h2>About</h2>
  <p>
    I specialize in crafting exceptional web applications using TypeScript,
    JavaScript, and a touch of creativity. My passion for digital craftsmanship
    goes beyond the ordinary. With a commitment to excellence, I thrive on
    transforming innovative concepts into cutting-edge realities.
  </p>
  <p>
    My journey in the digital realm revolves around crafting web applications
    that seamlessly blend aesthetics and performance. I find joy in turning
    mundane designs into captivating experiences, actively contributing to the
    world of open-source projects, and relentlessly pursuing knowledge to create
    something new and exciting.
  </p>
  <p>
    Let's connect and explore the limitless possibilities of the digital
    landscape together!
  </p>

  <h2>Skills</h2>
  <div class="link-images">
    {
      skills.map((skill) => (
        <Image
          width={skill.width}
          height={skill.height}
          alt={skill.name}
          src={skill.src}
        />
      ))
    }
  </div>

  <h2>Interests</h2>

  <p>
    Beyond coding, I'm passionate about mentoring, exploring startup ideas, and
    diving into serverless and functional programming. I'm also into 3D
    animation and reactivity experiments. Let's chat about developer experience,
    anime, or startup concepts – I'm always up for engaging discussions!
  </p>

  <h2>Latest Blogs</h2>
  <ul role="list" class="link-card-grid">
    {
      allBlogs
        .slice(0, HOMEPAGE_ARTICLE_LIMIT)
        .map((blog) => (
          <ArticleCard
            href={`/blogs/${blog.slug}`}
            image={blog.data.image}
            title={blog.data.title}
            tags={blog.data.tags}
          />
        ))
    }
  </ul>
</Layout>
<style>
  /* small */
  small {
    background-color: #584966;
    color: #fdebf3;
    border-radius: 6px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    padding: 0.3em 0.6em 0.2em;
  }

  .link-images {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(6, 1fr);
  }

  /* Skill images */
  .link-images img {
    width: 50px;
    height: 50px;
    margin: 16px 4px;
    box-sizing: border-box;
  }

  @media only screen and (max-width: 600px) {
    .link-images img {
      height: 30px;
      width: 30px;
    }
  }
</style>
