---
import { Image } from "astro:assets";
import { formattedDate } from "@src/utils";

type Props = {
  title: string;
  date: Date;
  brief: string;
  url: string;
  image: string;
};

const { title, brief, url, image, date } = Astro.props;
---

<a href={url} class="blog-card">
  <div class="image-box">
    <Image class="img" src={image} alt={title} width={285} height={150} />
  </div>

  <div class="content">
    <div class="time">
      <span></span>
      <p>{formattedDate(date)}</p>
    </div>

    <h2>{title}</h2>
    <p class="blog-description">{brief}</p>
  </div>
</a>

<style>
  a {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
    border-radius: 1rem;

    &:hover {
      background: #48486a;
    }
  }

  h2 {
    margin: 0;
    padding: 0.6rem 0;
  }

  p {
    margin: 0;
    padding: 0;
    font-family: var(--font);
  }

  button {
    margin: 0;
    padding: 0.6rem 0 0 0;
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
    color: #ccc;
  }

  .blog-card {
    display: flex;
    align-items: center;
    gap: 1rem;

    .image-box {
      flex: 1;

      img {
        width: 100%;
        height: auto;
      }
    }

    .content {
      flex: 2;
    }
  }

  .time {
    display: flex;
    align-items: center;

    span {
      background: var(--light-blue);
      width: 0.2rem;
      height: 1.4rem;
      margin-right: 0.8rem;
    }
  }

  @media only screen and (max-width: 1024px) {
    a {
      display: flex;
      flex-direction: column;
    }
  }
</style>
