---
import { Image } from "astro:assets";
import Layout from "@layouts/BaseLayout.astro";
import ProjectCard from "@components/ProjectCard.astro";
import Laptop from "@assets/laptop.gif";

import DonationHerotThumbnail from "@assets/projects/donation-hero.png";
import PocketUrlThumbnail from "@assets/projects/pocket-url.png";
import SveltiPrimeThumbnail from "@assets/projects/svelti-prime.png";

const pageTitle = "Works | Ezaz Ahmed";

type ProjectCardType = {
  link: string;
  image: ImageMetadata;
  title: string;
  body: string;
};

const publicProjects: ProjectCardType[] = [
  {
    link: "https://github.com/ezaz-ahmed/donation-collection-system",
    image: DonationHerotThumbnail,
    title: "Donation Hero",
    body: "Become the hero of someone's story",
  },

  {
    link: "https://github.com/ezaz-ahmed/primeflix",
    image: SveltiPrimeThumbnail,
    title: "Primeflix",
    body: "Experience Netflix in Svelte style! Dive into the PrimeFlix world!",
  },
  {
    link: "https://github.com/ezaz-ahmed/pocket-url",
    image: PocketUrlThumbnail,
    title: "Pocket Url",
    body: "Shrink that URL! Make it shorter and sweeter",
  },
];
---

<Layout pageTitle={pageTitle}>
  <div class="gif">
    <Image
      width={300}
      height={300}
      alt="Gif collected from https://giphy.com/iroiro1/"
      src={Laptop}
    />
  </div>

  <h2>Public Projects</h2>
  <ul role="list" class="link-card-grid">
    {
      publicProjects.map((project) => (
        <ProjectCard
          href={project.link}
          title={project.title}
          image={project.image}
          body={project.body}
        />
      ))
    }
  </ul>
</Layout>
