---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import opinion from "@assets/thums-up.webp";
import BaseLayout from "@layouts/BaseLayout.astro";
import ArticleCard from "@components/ArticleCard.astro";
import type { BlogType } from "src/content/config";

const allBlogs: BlogType[] = (await getCollection("blog")).sort(
  (a: BlogType, b: BlogType) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const pageTitle = "Blogs | Ezaz Ahmed";

type OtherBlogType = {
  link: string;
  image: string;
  title: string;
  tags: string[];
};

const otherBlogs: OtherBlogType[] = [
  {
    link: "https://dev.to/ezaz-ahmed/frontend-development-approaches-to-web-page-rendering-47gg",
    image:
      "https://res.cloudinary.com/ezaz/image/upload/v1705780966/other-blogs/fl5ma7ukkuyiwlhnvswq.jpg",
    title: "Approaches to Web Page Rendering",
    tags: ["Frontend", "React"],
  },
];
---

<BaseLayout pageTitle={pageTitle}>
  <div class="gif">
    <Image
      width="300"
      height="259"
      alt="Gif collceted from https://giphy.com/iroiro1/"
      src={opinion}
    />
  </div>

  <h2>Blogs</h2>
  <ul role="list" class="link-card-grid">
    {
      allBlogs.map((blog) => (
        <ArticleCard
          href={`/blogs/${blog.slug}`}
          image={blog.data.image}
          title={blog.data.title}
          tags={blog.data.tags}
        />
      ))
    }
  </ul>

  <h2>Other Articles</h2>
  <ul role="list" class="link-card-grid">
    {
      otherBlogs.map((blog) => (
        <ArticleCard
          title={blog.title}
          href={blog.link}
          image={blog.image}
          tags={blog.tags}
        />
      ))
    }
  </ul>
</BaseLayout>
