---
import Tags from "@components/Tags.astro";
import BaseLayout from "./BaseLayout.astro";
import { Image } from "@unpic/astro";
import { formatDate } from "src/utils";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="gif">
    <Image
      src={frontmatter.image}
      width={540}
      height={400}
      alt={frontmatter.title}
      unstyled
    />
  </div>

  <h2>{frontmatter.title}</h2>

  <div class="segment">
    <div>
      <span>Tags:</span>
      <Tags tags={frontmatter.tags} />
    </div>

    <small>Posted on {formatDate(frontmatter.pubDate)}</small>
  </div>

  <div class="content">
    <slot />
  </div>
</BaseLayout>

<style>
  .gif img {
    object-fit: cover;
    width: 100%;
  }

  .content {
    img {
      margin-top: 20px;
      width: 100%;
      height: auto;
    }
    h1,
    h2,
    h3 {
      font-family: "Josefin Sans", sans-serif;
      word-spacing: 1px;
      text-align: left;
      text-decoration: underline var(--steel-blue);
      text-decoration-thickness: 2px;
      text-underline-offset: 6px;
    }

    a {
      color: var(--steel-blue);
      text-decoration: none;
      transition: transform 0.3s ease;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  h2 {
    font-family: "Josefin Sans", sans-serif;
    text-wrap: balance;
    text-align: center;
    text-decoration: none;
  }

  .segment {
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 30px 0;

    div {
      display: flex;
      align-items: center;

      span {
        margin-right: 10px;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .segment {
      flex-direction: column;
      row-gap: 10px;
    }
  }
</style>
